.shell {
  max-width: 960px;
  margin: 0 auto;
}

#banner-holder {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  border: solid 1px;
  background-size: cover;
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  display: block;
  position: relative;
}

/* All the banners inside the holder */
.sub {
  height: 300px;
  position: absolute;
  width: 100%;
  max-width: 960px;
  background-size: cover !important;
  z-index: 1; /* This is how fading effect is achieved */
}

/* Individual banners and their backgrounds */
.banner-1 {
  background: url('./images/img_nature_wide.jpg') no-repeat;
}

.banner-2 {
  background: url('./images/img_fjords_wide.jpg') no-repeat;
}

.banner-3 {
  background: url('./images/img_mountains_wide.jpg') no-repeat;
}

.banner-4 {
  background: url('./images/img_lights_wide.jpg') no-repeat;
}

/* Fading animation */
@keyframes fader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* Displays the banner */
.show {
  display: block;
  z-index: 10; /* This is how fading effect is achieved */
  animation: fader 0.3s linear 1;
}

/* The banner behind the currently displayed one
 Solves opacity problem*/
.behind {
  z-index: 5;
}

.service-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  padding: 0;
  list-style: none;
}

/* The small images bellow banner */
.service:nth-child(1) {
  background: url('./images/img_nature.jpg') no-repeat;
}

.service:nth-child(2) {
  background: url('./images/img_fjords.jpg') no-repeat;
}

.service:nth-child(3) {
  background: url('./images/img_mountains.jpg') no-repeat;
}

.service:nth-child(4) {
  background: url('./images/img_lights.jpg') no-repeat;
}

.service {
  width: 25%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 0;
  background-size: cover !important;
  /* Solves unwanted margin */
}

.service img {
  width: 100%;
}

.service a {
  position: relative;
  display: block;
  text-align: center;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  height: 180px;
  padding: 0 10px;
  font-size: 24px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.service:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}

/* Text inside the services */
.link-holder {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* Centers the text in the link horizontally and vertically */
.link-holder>span {
  display: table-cell;
  vertical-align: middle;
}

/* The highlighted service a.k.a. 'active' */
.active.service a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+39,000000+100&0+0,0.41+40,0.65+100 */
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 39%, rgba(0, 0, 0, 0.41) 40%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 39%, rgba(0, 0, 0, 0.41) 40%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 39%, rgba(0, 0, 0, 0.41) 40%, rgba(0, 0, 0, 0.65) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 39%, rgba(0, 0, 0, 0.41) 40%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

/* Split Services in 2 coloumns and remove banner*/
@media screen and (max-width: 650px) {
  #banner-holder {
    display: none;
  }
  .service {
    width: 50%;
  }
}
